# Environments
venv/
.venv/
env/
.env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Mac OS X
.DS_Store

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Environments settings
.env
.env.local

# IDEs
.vscode/
.idea/
